.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 10%;
  background-color: red;
}

.serviceName {
  width: 100%;
}
