@import "./default.module.scss";

.catContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cateBox {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1200px;
  flex-wrap: wrap;
}

.catOption {
  cursor: pointer;
  position: relative;
  margin: 1% 20px 0px 0px;
  height: 260px;
  width: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 25px;

  
}
.catImg{
    width: inherit;
    height: inherit;
    border-radius: 25px;
  }

.catOption:hover {
  box-shadow: 0 0 20px rgba(118, 117, 121, 0.7);
}

.catOption button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $whiteTransparent;
  border: none;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: $greyFont-colour;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.catOption:hover button {
  background-color: $orangehighlight-colour;
  color: white;
}

@media (max-width: 1200px) {
  .cateBox{
    width: 1000px;
    height: auto;
  }
  .catOption{
    width: 220px;
    height: 178px;
  }
}

@media (max-width: 960px) {
  .cateBox{
    width: 800px;
    height: auto;
  }
  .catOption{
    width: 176px;
    height: 142px;
  }
}

@media (max-width: 768px) {
  .cateBox{
    width: 400px;
    height: auto;
  }
  .catOption{
    width: 145px;
    height: 117px;
  }
}