@import "./default.module.scss";

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 380px;
  width: 100%;
  margin-top: 2%;
  color: $greyFont-colour;
}

.footerContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.footerContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 2% 2%;
  width: 240px;
  height: 350px;
  justify-content: space-between;
  .footerTitle {
    margin: 40px 0px 10px;
  }

  .footerContent {
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .footerSocialHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .footerImg {
      width: 35px;
    }
  }
  .footerMenu {
    flex-grow: 1;
    text-align: center;
  }
  .footerContact {
    text-align: center;
  }
}

.footerContentPanel button {
  cursor: pointer;
  background-color: inherit;
  border-color: $orangehighlight-colour;
  border-radius: 10px;
  font-size: 16px;
  padding: 14px 32px 14px 32px;
  color: $orangehighlight-colour;
  border-style: solid;
}

.footerContentPanel button:hover {
  cursor: pointer;
  background-color: $orangehighlight-colour;
  color: white;
}

.footerLogo {
  width: 100px;
}

@media (max-width: 1200px) {
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
  #middle {
    order: -1;
  }
  .footerContainer {
    height: auto;
  }
  .footerContentPanel {
    height: auto;
    margin-top: 1%;
  }
  .footerContentWrapper {
    flex-direction: column;
  }
  .FooterBtn {
    margin: 10% 0% 10%;
  }
  .footerLogo {
    margin: 5% 0% 5%;
  }
  .footerTitle {
    margin: 5px;
  }
}
