@import "./default.module.scss";

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #00000080;
  align-items: center;
}

.navLogo {
  display: block;
  height: 100px;
  margin-left: 25%;
}

.navUlWrapper {
  display: flex;
}

.navUl {
  display: flex;
}

.navLink {
  position: relative;
  font-size: 18px;
  margin: 0 15px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: none !important;
}

.navLink:hover {
  color: $orangehighlight-colour;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust this value to control the thickness of the arrow */
  background-color: $orangehighlight-colour;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover:after {
  transform: scaleX(1);
}

.navSocials {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.navSocailImg {
  width: 25px;
  margin-right: 15px;
}

@media (max-width: 1200px) {

}

@media (max-width: 960px) {

}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Distribute items evenly */
    height: auto; /* Allow container to expand with content */
    padding: 10px; /* Add padding for better spacing */
  }

  .navLogo {
    margin: 10px auto; /* Center the logo */
  }

  .navUlWrapper {
    width: 100%; /* Full width for navigation items */
    margin-top: 20px; /* Add some spacing from the logo */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navUl {
    flex-direction: column; /* Stack navigation items vertically */
    margin: 0;
    align-items: center;
    padding: 0;
  }

  .navLink {
    margin: 5px 0; /* Adjust spacing between items */
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  .navSocials {
    border-top: 2px solid white;
    padding-top: 5px;
    justify-content: space-between; /* Center social icons */
    margin: 0;
  }

  .navSocailImg{
    margin: 5px;
  }
}