@import "./default.module.scss";

.nProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nProductContainerTitle {
  align-items: center;
  justify-content: center;
}

.nProductCardHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nProductCard {
  width: 150px;
  height: 250px;
}
