@import "./default.module.scss";

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1200px;
  flex-wrap: wrap;
}

.nProductContainerTitle {
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid $orangehighlight-colour;
}

.nProductContainerTitle span {
  color: $orangehighlight-colour;
}

.CardHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  &:hover {
    .details {
      color: white;
    }
    .Name {
      color: white;
    }
  }
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: center;
  width: 280px;
  height: 410px;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  flex-grow: 1;
  overflow-x: hidden;
  text-decoration: none;
  color: black;
  &:hover {
    .details {
      color: white;
    }
    .Title {
      color: white;
    }
  }
}

.Card:hover {
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.3);

  .CardInfo {
    background-color: $orangehighlight-colour;
  }
  .Line {
    background-color: white;
  }

  .ProductBtn {
    color: whitesmoke;
  }
}

.ProductImg {
  height: 280px;
  width: 280px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  justify-content: space-between;
}

.CardInfo {
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Title {
  width: 100%;
  justify-content: center;
  align-self: center;
}
.BtnHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $orangehighlight-colour;
}

.Line {
  width: 30%;
  height: 0.5px;
  background-color: $orangehighlight-colour;
  overflow: hidden;
}

.details {
  width: 100;
}

.ProductBtn {
  cursor: pointer;
  border: none;
  color: $orangehighlight-colour;
  padding: 0px 15px 0px 15px;
  margin: 0px 3px 0px 3px;
  white-space: nowrap;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .Wrapper {
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
  }

  .Card {
    width: 220px;
    margin: 5px;
  }

  .ProductImg {
    height: inherit;
    width: inherit;
  }
}

@media (max-width: 960px) {
  .Wrapper {
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }

  .Card {
    width: 176px;
    margin: 5px;
  }

  .ProductImg {
    height: auto;
  }
}

@media (max-width: 768px) {
  .Wrapper {
    height: auto;
    max-width: 400px;
    margin: 0 auto;
  }

  .Card {
    width: 145px;
    margin: 5px;
  }

  .ProductImg {
    width: 190px;
  }
}
