@import "./default.module.scss";

.detailWrapper {
  display: flex;
  justify-content: center;
}

.detailWrapper2 {
  display: flex;
  flex-direction: row;
  width: 1180px;
  height: 685px;
}

.detailWrapper img {
  width: 580px;
  height: 580px;
}

.detailContainer {
  width: 580px;
}

.productHeading {
  height: 36px;
}

.productPrice {
  font-size: 26px;
}

.productCartOptions {
  .productSpan {
    font-size: 14px;
  }
}

.quantitySelector {
}

.selectorBtn {
  background-color: transparent;
  border: 1px solid lightgray;
  width: 36px;
  height: 52px;
}

.addBtn {
  background-color: $orangehighlight-colour;
  color: white;
  height: 52px;
  width: 228px;
  border: 0px;
  border-radius: 5px;
  margin-left: 25px;
  font-size: 20px;
}

.descriptionBreaker {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Line {
  width: 200px;
  height: 0.5px;
  background-color: $orangehighlight-colour;
  align-items: center;
  justify-content: center;
}

.descriptionTitle {
  color: $orangehighlight-colour;
  margin: 0px 2% 0px 2%;
  width: 130px;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

@media (max-width: 960px) {
  .detailWrapper {
    flex-direction: column;
    width: 100%;
    max-width: 960px;
  }

  .detailWrapper2 {
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    align-items: center;
  }

  .detailWrapper img {
    width: 460px;
    height: 460px;
  }
}
