@import "./default.module.scss";

.slideShowContainer {
  height: 920px;
  background-image: url("../assets/slideshowBgs/backgroundModel.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrowSVG {
  fill: red;
}

.slideHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slideCenterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  font-size: 20px;

  .slideTitle {
    font-size: 20px;
    color: white;
    border-bottom: 2px $orangehighlight-colour solid;
  }
  .slideSubTitle {
    font-size: 32px;
    color: white;
  }
  .slideButtonHolder button {
    margin-top: 32px;
    font-size: 20px;
    color: $orangehighlight-colour;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px $orangehighlight-colour solid;
    cursor: pointer;
  }

  #slideBrowseBtn:hover {
    background-color: $orangehighlight-colour;
    color: white;
  }

  #slideBookBtn {
    color: white;
    background-color: $orangehighlight-colour;
  }
  #slideBookBtn:hover {
    color: $orangehighlight-colour;
    background-color: white;
  }
}

.slideArrowBtn {
  margin-left: 2%;
  margin-right: 2%;
}
