@import "../../default.module.scss";

.slideShowContainer {
  height: 920px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slideBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrowSVG {
  fill: red;
}

.slideHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slideCenterBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 430px;
  height: 230px;
  font-size: 20px;

  .slideTitle {
    font-size: 24px;
    color: white;
    border-bottom: 2px $orangehighlight-colour solid;
  }
  .slideSubTitle {
    font-size: 32px;
    color: white;
  }
  .slideButtonHolder button {
    background-color: white;
    color: $orangehighlight-colour;
    border: 1px solid $orangehighlight-colour;
    border-radius: 10px;
    padding: 12px 40px;
    margin: 5px;
    font-size: 20px;
    letter-spacing: 0.8px;
  }

  #slideBrowseBtn:hover {
    background-color: $orangehighlight-colour;
    color: white;
  }

  #slideBookBtn {
    color: white;
    background-color: $orangehighlight-colour;
  }
  #slideBookBtn:hover {
    color: $orangehighlight-colour;
    background-color: white;
  }
}

.slideArrowBtn {
  margin-left: 2%;
  margin-right: 2%;
}
